{% extends 'base.html' %} 
{% load static %}
{% block content %}


<!-- <div class="d-flex flex-wrap px-5 pt-3 align-items-center"> -->
<div id = "body"class="body-part">
        <div class="left-side col-6">
          <div class="inside">
    <h1>Welcome to Django Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus dolorum delectus necessitatibus temporibus adipisci, harum enim unde, suscipit in ipsum provident hic minim nihil veniam aut doloribus, ab quidem sit cum at nemo nulla autem! Dolor quaerat ea voluptatem ullam, consequuntur quisquam ut iste. Vitae exedistinctio eaque.</p>
  </div>
    </div>
    <div class="right-side col-6">
            <img class="pic" src="{% static 'images.jpg'%}" alt="side_pic">
        </div>
  <!-- <div class="col-6">
<img src="{% static 'images.jpg' %}" />
  </div> -->
</div>

<div class="p-4">
  <h5>All Brands</h5>
    {% for cat in brand %}

<a href="{% url 'brand_wise_post' cat.slug %}" class="btn btn-primary btn-sm m-2" class="text-decoration-none text-dark" >{{cat.name}}</a>
 {% endfor %}

</div>
   
<div class="d-flex flex-wrap p-4">
  <!-- <div class="col-2 bg-white p-3" > -->
 
    <!-- <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="brand"
        id="{{cat.id}}"
      />
      <label class="form-check-label" for="{{cat.id}}"> -->
        
        
      <!-- </label>
    </div> -->
   
  <!-- </div> -->
  <div class="col-10 p-3">
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap pt-5">
      {% for car in data %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
            <img src="{{car.image.url}}" class="card-img-top" alt="...">
            <h5 class="card-title"><a href="{% url 'detail_car' car.id %}" class="text-decoration-none text-dark">{{car.name}}</a></h5>
            <p class="card-text">{{car.description |truncatewords:10}}</p>
            <p>Author : {{car.author.first_name}} {{car.author.last_name}}</p>
            <p>
              Brand : 
              <button class="btn btn-primary btn-sm m-2" disabled>
                {{ car.brand.name }}
              </button>
              
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
